{% extends "congelateur/base.html" %}
{% load staticfiles %}
{% block title %}Products{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ object }}</h2>
            <dl>
                <dt>Code</dt><dd>{{ object.code }}</dd>
                <dt>Nombre de bac</dt><dd>{{ quantity_sold }}</dd>
                <dt>Libelle</dt><dd>{{ object.libelle }}</dd>
                <dt>Emplacement</dt><dd>{{ object.emplacement }}</dd>
                <dt>Tiroirr</dt><dd>{{ object.tiroirs }}</dd>
            </dl>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
{% endblock %}