{% extends "congelateur/base.html" %}
{% load staticfiles %}
{% block title %}Congélateur{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ object }}</h2>
            <dl>
                <dt>Code</dt><dd>{{ object.price|floatformat:"2" }}</dd>
                <dt>Libellé</dt><dd>{{ quantity_sold }}</dd>
                <dt>Emplacement</dt><dd>{{ object.calorie }} kcal</dd>
                <dt>Size</dt><dd>{{ object.weight }} ml</dd>
            </dl>
            <a href="{% url 'products_by_brand' object.brand.id %}"><img src="{{ object.brand.logo.url }}" class="logo-brands" alt="{{ object.brand.name }}" title="{{ object.brand.name }}" /></a>
            <a href="{% url 'products_by_category' object.category.id %}"><img src="{{ object.category.picture.url }}" alt="{{ object.category.name }}" title="{{ object.category.name }}" /></a>
        </div>
        <div class="col-lg-6">
            <p><img src="{{ object.picture.url }}" class="product-image" alt="{{ object.name }}" title="{{ object.name }}" /></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Transactions</h3>
            <table class="table table-hover">
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>User</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            {% for object in transaction_list %}
                <tr>
                    <td>{{ object.created }}</td>
                    <td>{{ object.get_product_transaction_type_display }}</td>
                    <td>{{ object.user }}</td>
                    <td>{{ object.quantity }}</td>
                    <td>{{ object.transaction_price|floatformat:"2" }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}